{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["jsx-a11y", "@typescript-eslint", "prettier"],
  "extends": [
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/camelcase": "off", // covered by eslint/camelcase
    "no-restricted-globals": "off",
    "no-undef": "off",
    "import/prefer-default-export": "off"
  },
  "overrides": [
    {
      "files": ["**/*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": [
        "**/*.spec.ts",
        "**/*.spec.tsx",
        "src/integration-tests/**/*",
        "**/util/**/*.*"
      ],
      "rules": {
        "no-unused-expressions": "off",
        "spaced-comment": "off",
        "func-names": "off",
        "no-console": "off",
        "@typescript-eslint/no-non-null-assertion": "off"
      }
    },
    {
      "files": ["**/*.ts"],
      "rules": {
        "no-useless-constructor": "off",
        "@typescript-eslint/no-useless-constructor": ["error"]
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      },
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}
